<div class="ly-tree-table-item">
  <ng-template #template>
    <!--FIRST LEVEL-->
    <ng-container *ngFor="let item of data; let i = index">
      <tr
        class="ly-tree-table-item__row ly-tree-table-item__row--first-level"
        [ngStyle]="{ 'background-color': backgroundColors[i] }"
      >
        <td
          *ngFor="let key of displayedProperties"
          [style.width]="widthDefinitions[key]"
        >
          {{ item[key] }}
        </td>
        <ng-container
          *ngIf="
            item[childPropertyName]?.length;
            then withButton;
            else noButton
          "
        ></ng-container>

        <ng-template #withButton>
          <td class="ly-tree-table-item__row-action" (click)="expandToggle(item)">
            Link
            <!-- <ly-button-icon size="small" [icon]="isExpanded(item) ? 'expand-less' : 'expand-more'"
              (click)="expandToggle(item)"></ly-button-icon> -->
          </td>
        </ng-template>

        <ng-template #noButton>
          <td></td>
        </ng-template>
      </tr>

      <!--SECOND LEVEL-->
      <ng-container *ngIf="isExpanded(item)">
        <ng-container *ngFor="let child of item[childPropertyName]">
          <tr
            class="ly-tree-table-item__row ly-tree-table-item__row--second-level"
            [ngClass]="{
              'ly-tree-table-item__row--expanded': isSubLevelExpanded(child)
            }"
            [ngStyle]="{ 'background-color': backgroundColors[i] }"
          >
            <td
              class="ly-tree-table-item__row-data ly-tree-table-item__row-data--link"
              *ngFor="let childKey of displayedProperties"
              [style.width]="widthDefinitions[childKey]"
            >
              <ng-container
                *ngIf="
                  childKey === keyLinkName && child[childKey];
                  else defaultCell
                "
              >
              <div (click)="onLinkClick(child)">
                link
              </div>

                <!-- <ly-link (click)="onLinkClick(child)">{{ child[childKey] }}</ly-link> -->
              </ng-container>
              <ng-template #defaultCell>
                {{ child[childKey] }}
              </ng-template>
            </td>
            <ng-container
              *ngIf="
                child[childPropertyName]?.length;
                then childWithButton;
                else childNoButton
              "
            >
            </ng-container>
            <ng-template #childWithButton>
              <td class="ly-tree-table-item__row-action" (click)="expandSubLevelToggle(child)">
                Link
                <!-- <ly-button-icon size="small" [icon]="isSubLevelExpanded(child) ? 'expand-less' : 'expand-more'"
                  (click)="expandSubLevelToggle(child)"></ly-button-icon> -->
              </td>
            </ng-template>
            <ng-template #childNoButton>
              <td></td>
            </ng-template>
          </tr>

          <!--THIRD LEVEL-->
          <ng-container *ngIf="isSubLevelExpanded(child)">
            <ng-container *ngFor="let subLevel of child[childPropertyName]">
              <tr
                class="ly-tree-table-item__row ly-tree-table-item__row--third-level"
                [ngStyle]="{ 'background-color': backgroundColors[i] }"
              >
                <td
                  *ngFor="let subLevelKey of displayedProperties"
                  [style.width]="widthDefinitions[subLevelKey]"
                >
                  {{ subLevel[subLevelKey] }}
                </td>
                <!--ESTA TD VACIA OCUPA EL LUGAR DEL POSIBLE BOTON REFACTOR-->
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
