<div class="ly-amount-field" (click)="handleFocus()">
  <div class="ly-amount-field__visible-value">
    <div class="ly-amount-field__visible-value-currency">
      {{ currency() }}
    </div>
    <div class="ly-amount-field__visible-value-integer">
      {{ visibleValueIntegers() }}
    </div>
    <div class="ly-amount-field__visible-value-decimals">
      {{ visibleValueDecimals() }}
    </div>
  </div>
  <input
    style="opacity: 0.8"
    #input
    type="number"
    [(ngModel)]="value"
    [disabled]="disabled()"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
</div>
