<div class="ly-amount-field" (click)="handleFocus()">
  <div
    class="ly-amount-field__visible-value"
    [ngClass]="{
      'ly-amount-field__visible-value--error': _isError,
      'ly-amount-field__visible-value--disabled': _isDisabled
    }"
  >
    <div class="ly-amount-field__visible-value-currency">
      {{ _currency }}
    </div>
    <div class="ly-amount-field__visible-value-integer">
      {{ visibleValueIntegers }}
    </div>
    <div class="ly-amount-field__visible-value-decimals">
      {{ visibleValueDecimals }}
    </div>
  </div>
  <input
    style="opacity: 0.8; height: 50px; width: 350px"
    #input
    type="text"
    [disabled]="_isDisabled"
    [readonly]="_readOnly"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
</div>
