<div class="ly-amount-field" (click)="handleFocus()">
  <div
    class="ly-amount-field__visible-value"
    [ngClass]="{
      'ly-amount-field__visible-value--error': isError,
      'ly-amount-field__visible-value--disabled': isDisabled
    }"
  >
    <div class="ly-amount-field__visible-value-currency">
      {{ currency() }}
    </div>
    <div class="ly-amount-field__visible-value-integer">
      {{ visibleValueIntegers }}
    </div>
    <div class="ly-amount-field__visible-value-decimals">
      {{ visibleValueDecimals }}
    </div>
  </div>
  <input
    style="opacity: 0.8"
    #input
    type="text"         
    [disabled]="isDisabled"
    (input)="handleInput($event)" 
    (blur)="handleBlur()"
  />
</div>
