.ly-amount-field {
  &__visible-value {
    display: flex;
    width: fit-content;
    gap: 3px;

    &-currency {
      font-size: 40px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }

    &-integer {
      font-size: 40px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }

    &-decimals {
      font-size: 20px;
      font-weight: 500;
      align-self: flex-start;
    }

    &--error {
      color: rgb(230, 0, 0);
    }
    &--disabled {
      color: rgb(170, 170, 170);
    }
  }
}
